Write a python programme to convert a list to series.

In [1]:
import pandas as pd

In [2]:
l = [2, 3, 4, 5]
series = pd.Series(l)
series

0    2
1    3
2    4
3    5
dtype: int64

Write a python programme to generate a series of dates from 1st August 2024 to 24 August 2024 (inclusive).

In [3]:
import datetime

In [14]:
start = datetime.datetime.strptime("01-08-2024", "%d-%m-%Y")
end = datetime.datetime.strptime("24-08-2024", "%d-%m-%Y")

dates = pd.date_range(start=start, end=end)
dates

DatetimeIndex(['2024-08-01', '2024-08-02', '2024-08-03', '2024-08-04',
               '2024-08-05', '2024-08-06', '2024-08-07', '2024-08-08',
               '2024-08-09', '2024-08-10', '2024-08-11', '2024-08-12',
               '2024-08-13', '2024-08-14', '2024-08-15', '2024-08-16',
               '2024-08-17', '2024-08-18', '2024-08-19', '2024-08-20',
               '2024-08-21', '2024-08-22', '2024-08-23', '2024-08-24'],
              dtype='datetime64[ns]', freq='D')

Convert a dictionary into dataframe and display it.

In [19]:
d = {
    "1": "A",
    "2": "B",
    "3": "C",
    "4": "D",
    "5": "E",
}

df = pd.DataFrame(d.items())
print(df)

   0  1
0  1  A
1  2  B
2  3  C
3  4  D
4  5  E

Create a 2D list and convert it into data frame and display it.

In [20]:
l = [
    [1, 2],
    [3, 4],
    [5, 6],
]

df = pd.DataFrame(l)
df

   0  1
0  1  2
1  3  4
2  5  6