In [5]:
import pandas as pd
import numpy as np

In [24]:
labels = ['A', 'B', 'C', 'D']
list1 = [1, 2, 3, 4]
list2 = np.array([40, 50, 60])
dictionary = {
    'A': 10,
    'B': 20,
    'C': 30,
}

In [18]:
pd.Series(data=list1)

0    1
1    2
2    3
3    4
dtype: int64

In [19]:
pd.Series(data=list1, index=labels)

A    1
B    2
C    3
D    4
dtype: int64

In [21]:
pd.Series(data=labels)

0    A
1    B
2    C
3    D
dtype: object

In [23]:
pd.Series([sum, print, len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [26]:
pd.Series(list2)

0    40
1    50
2    60
dtype: int32

In [27]:
pd.Series(dictionary)

A    10
B    20
C    30
dtype: int64

In [28]:
my_dataset = {
    "Cars": ["BMW", "Bugatti", "Lamborghini"],
    "Color": ["Red", "Blue", "Green"],
}

pd.Series(my_dataset)

Cars     [BMW, Bugatti, Lamborghini]
Color             [Red, Blue, Green]
dtype: object

In [29]:
pd.DataFrame(my_dataset)

          Cars  Color
0          BMW    Red
1      Bugatti   Blue
2  Lamborghini  Green

In [35]:
fruits = ["Apple", "Orange", "Banana", "Grapes"]
colors = ["Red", "Orange", "Yellow", "Green"]

print(pd.Series(fruits, colors), "\n")
print(pd.DataFrame({"Fruits": fruits, "Colors": colors}))

Red        Apple
Orange    Orange
Yellow    Banana
Green     Grapes
dtype: object

   Fruits  Colors
0   Apple     Red
1  Orange  Orange
2  Banana  Yellow
3  Grapes   Green

In [37]:
pd.Series([1, 2, 3, 4], ['a', 'b', 'c', 'd'])

a    1
b    2
c    3
d    4
dtype: int64

In [39]:
import random

In [135]:
# Seed is used to save the state of the random generator
random.seed(40)
print("First:", random.randint(50, 100)) # Prints 79

random.seed(40)
print("Second: ", random.randint(50, 100)) # Also prints 79

First: 79
Second:  79

In [168]:
# random.seed(10)
print(random.random())

random.seed(10)
print(random.random())

0.4288890546751146
0.5714025946899135

In [194]:
# randn for normal distribution (positive and negative values)
# np.random.seed(5)
pd.DataFrame(np.random.randn(5, 4), index="A B C D E".split(), columns="P Q R S".split())

          P         Q         R         S
A  1.450734  0.606870 -0.375621 -1.421925
B -1.781151 -0.747906 -0.368410 -2.249118
C -1.693675  0.303648 -0.408992 -0.754831
D -0.407519 -0.812625  0.927516  1.639954
E  2.073616  0.709798  0.747153  1.463095

In [213]:
# rand for positive values only
df = pd.DataFrame(np.random.rand(5, 4), index="A B C D E".split(), columns="P Q R S".split())
print(df)

print(df["P"]) # Lists the first column

print(df[["R", "S"]]) # R and S columns

          P         Q         R         S
A  0.616918  0.762819  0.001679  0.082120
B  0.321179  0.216350  0.174757  0.551840
C  0.639629  0.485027  0.699559  0.318169
D  0.365971  0.132996  0.216944  0.486815
E  0.826405  0.473552  0.883177  0.936967
A    0.616918
B    0.321179
C    0.639629
D    0.365971
E    0.826405
Name: P, dtype: float64
          R         S
A  0.001679  0.082120
B  0.174757  0.551840
C  0.699559  0.318169
D  0.216944  0.486815
E  0.883177  0.936967

In [221]:
print(type(df["P"]))
print(type(df[["P", "Q"]]))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [227]:
# Add new column
df["T"] = [1, 2, 3, 4, 5]
df

          P         Q         R         S  T
A  0.616918  0.762819  0.001679  0.082120  1
B  0.321179  0.216350  0.174757  0.551840  2
C  0.639629  0.485027  0.699559  0.318169  3
D  0.365971  0.132996  0.216944  0.486815  4
E  0.826405  0.473552  0.883177  0.936967  5

In [241]:
# Drop a row or column (not modifying the original dataframe)
print(df.drop("T", axis=1))
print(df.drop("D", axis=0))
df

          P         Q         R         S
A  0.616918  0.762819  0.001679  0.082120
B  0.321179  0.216350  0.174757  0.551840
C  0.639629  0.485027  0.699559  0.318169
D  0.365971  0.132996  0.216944  0.486815
E  0.826405  0.473552  0.883177  0.936967
          P         Q         R         S  T
A  0.616918  0.762819  0.001679  0.082120  1
B  0.321179  0.216350  0.174757  0.551840  2
C  0.639629  0.485027  0.699559  0.318169  3
E  0.826405  0.473552  0.883177  0.936967  5

          P         Q         R         S  T
A  0.616918  0.762819  0.001679  0.082120  1
B  0.321179  0.216350  0.174757  0.551840  2
C  0.639629  0.485027  0.699559  0.318169  3
D  0.365971  0.132996  0.216944  0.486815  4
E  0.826405  0.473552  0.883177  0.936967  5

In [248]:
# Locate a row by the label
df.loc['A']

P    0.616918
Q    0.762819
R    0.001679
S    0.082120
T    1.000000
Name: A, dtype: float64

In [249]:
# Locate a row by the index
df.iloc[2]

P    0.639629
Q    0.485027
R    0.699559
S    0.318169
T    3.000000
Name: C, dtype: float64

In [252]:
# Locate a cell by index and column
df.loc["B", "R"]

0.17475749052605716

In [256]:
# Locate a part of the dataframe
df.loc[["A", "B"], ["R", "S"]]

          R        S
A  0.001679  0.08212
B  0.174757  0.55184

In [267]:
# Zip: Combine 2 lists
a1 = ['A', 'A', 'A', 'B', 'B', 'B']
b1 = [1, 2, 3, 1, 2, 3]

p = list(zip(a1, b1))
p

[('A', 1), ('A', 2), ('A', 3), ('B', 1), ('B', 2), ('B', 3)]

In [274]:
df = pd.DataFrame(np.random.randn(6, 2), index=p, columns=['X', 'Y'])
df

               X         Y
(A, 1) -0.383631 -1.636216
(A, 2) -0.210186 -1.833769
(A, 3)  0.899336  1.358031
(B, 1) -0.708565  0.171569
(B, 2)  2.440975  0.580650
(B, 3)  0.825887  0.247949