In [5]:
import pandas as pd
import numpy as np

In [24]:
labels = ['A', 'B', 'C', 'D']
list1 = [1, 2, 3, 4]
list2 = np.array([40, 50, 60])
dictionary = {
    'A': 10,
    'B': 20,
    'C': 30,
}

In [18]:
pd.Series(data=list1)

0    1
1    2
2    3
3    4
dtype: int64

In [19]:
pd.Series(data=list1, index=labels)

A    1
B    2
C    3
D    4
dtype: int64

In [21]:
pd.Series(data=labels)

0    A
1    B
2    C
3    D
dtype: object

In [23]:
pd.Series([sum, print, len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [26]:
pd.Series(list2)

0    40
1    50
2    60
dtype: int32

In [27]:
pd.Series(dictionary)

A    10
B    20
C    30
dtype: int64

In [28]:
my_dataset = {
    "Cars": ["BMW", "Bugatti", "Lamborghini"],
    "Color": ["Red", "Blue", "Green"],
}

pd.Series(my_dataset)

Cars     [BMW, Bugatti, Lamborghini]
Color             [Red, Blue, Green]
dtype: object

In [29]:
pd.DataFrame(my_dataset)

          Cars  Color
0          BMW    Red
1      Bugatti   Blue
2  Lamborghini  Green

In [35]:
fruits = ["Apple", "Orange", "Banana", "Grapes"]
colors = ["Red", "Orange", "Yellow", "Green"]

print(pd.Series(fruits, colors), "\n")
print(pd.DataFrame({"Fruits": fruits, "Colors": colors}))

Red        Apple
Orange    Orange
Yellow    Banana
Green     Grapes
dtype: object

   Fruits  Colors
0   Apple     Red
1  Orange  Orange
2  Banana  Yellow
3  Grapes   Green

In [37]:
pd.Series([1, 2, 3, 4], ['a', 'b', 'c', 'd'])

a    1
b    2
c    3
d    4
dtype: int64

In [39]:
import random

In [135]:
# Seed is used to save the state of the random generator
random.seed(40)
print("First:", random.randint(50, 100)) # Prints 79

random.seed(40)
print("Second: ", random.randint(50, 100)) # Also prints 79

First: 79
Second:  79

In [168]:
# random.seed(10)
print(random.random())

random.seed(10)
print(random.random())

0.4288890546751146
0.5714025946899135

In [192]:
# np.random.seed(5)
pd.DataFrame(np.random.randn(5, 4), index="A B C D E".split(), columns="P Q R S".split())

          P         Q         R         S
A  2.088515  0.346919  0.745727  0.776908
B  1.018421  1.061351 -0.710466 -0.215188
C -0.760760 -0.711163  1.141508 -0.501756
D -0.079151 -0.692826 -0.593403  0.788238
E -0.445430 -0.482120  0.493558  0.500487